alembic==1.4.2
asyncpg==0.20.1
click==7.1.2
databases==0.3.2
fastapi==0.65.2
h11==0.9.0
httptools==0.1.1
Mako==1.1.2
MarkupSafe==1.1.1
psycopg2-binary==2.8.5
pydantic==1.5.1
python-dateutil==2.8.1
python-dotenv==0.13.0
python-editor==1.0.4
six==1.15.0
SQLAlchemy==1.3.17
starlette==0.13.2
uvicorn==0.11.5
uvloop==0.14.0
websockets==8.1
